<%- include('partials/_header') %>
    <title>Inicio</title>


    </head>

    <body>
        <!--NAVBAR-->
        <%- layout('layouts/main') %>
            <!--NAVBAR-->

           


            
<%- include('partials/_footer') %>